///////////////////////////////////////
// css theme variables / settings


$font-family:           'PT Serif', "Helvetica Neue", Helvetica, serif;
$heading-font-family:   'PT Sans', 'Arial', sans-serif;
$code-font-family:      'Fira Code', monospace;


$masthead-color:         #000000;
$masthead-small-color:   #000000;

$post-title-color:       #000000;
$post-title-underline_color:       #0000001a;
$post-date-color:        #000000;


$body-color:            #000000;
$body-color-focused:    #3d3d3d;
$body-background-color: #fff;

$link-color:            #0064a9;

$headings-color:        #000000;    // h1,h2,h3,h4,h5,h6

$strong-color:          #000000;    // strong

$pre-background-color:  #f9f9f9;    // pre

$blockquote-color:        #000000;  // blockquote
$blockquote-border-color: #e5e5e5;

$table-border-color:         #e5e5e5;
$table-odd-background-color: #fff;


